@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  width: 88%;
  margin: 0 auto;
}

.content2 {
  margin: 4rem auto;
  width: 50%;
}
@media (max-width: 1000px) {
  .content2 {
    width: 60%;
  }
}
@media (max-width: 800px) {
  .content2 {
    width: 70%;
  }
}
@media (max-width: 600px) {
  .content2 {
    width: 80%;
  }
}
@media (max-width: 470px) {
  .content2 {
    width: 90%;
  }
}
.contactheading {
  /* margin-top: 4rem; */
}
.heading-text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
  /* identical to box height, or 122% */
  margin-bottom: 20px;
  letter-spacing: -0.02em;

  /* Gray/900 */

  color: #101828;
}
.supporting-text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  /* identical to box height, or 150% */

  /* Gray/600 */

  color: #475467;
  margin-bottom: 48px;
}
.error {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  /* identical to box height, or 143% */

  color: #f83f23;
}
.checkbox-container {
  margin-bottom: 32px;
}
.name-row {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  margin-bottom: 24px;
}
.input-field {
  display: flex;
  flex-direction: column;
  width: calc(100% / 2 - 12px);
}
.email {
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
}
.message {
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
}
.checkbox {
  display: flex;
}
#btn__submit {
  width: 100%;
  /* height: 48px; */
  padding: 12px 0;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */

  /* Base/White */

  color: #ffffff;

  background: #1570ef;
  /* Primary/600 */

  border: 1px solid #1570ef;
  /* Shadow/xs */

  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 8px;
}
label {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  /* identical to box height, or 143% */
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */

  /* Gray/500 */

  color: #667085;
  /* Gray/700 */

  color: #344054;
}
#first_name {
  height: 40px;
  background: #ffffff;
  /* Gray/300 */
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */

  /* Gray/500 */

  color: #667085;
  border: 1px solid #d0d5dd;
  /* Shadow/xs */
  padding: 10px 14px;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 8px;
}
#last_name {
  height: 40px;
  background: #ffffff;
  /* Gray/300 */

  border: 1px solid #d0d5dd;
  /* Shadow/xs */
  padding: 10px 14px;

  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 8px;
}
#email {
  height: 40px;
  background: #ffffff;
  /* Gray/300 */
  padding: 10px 14px;

  border: 1px solid #d0d5dd;
  /* Shadow/xs */
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */

  /* Gray/500 */

  color: #667085;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 8px;
}
#message {
  height: 125px;
  background: #ffffff;
  /* Gray/300 */
  padding: 10px 14px;

  border: 1px solid #d0d5dd;
  /* Shadow/xs */
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */

  /* Gray/500 */

  color: #667085;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 8px;
}
#message::placeholder {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */

  /* Gray/500 */

  color: #667085;
}
.checkbox input {
  width: 20px;
  height: 20px;
  margin-right: 12px;
}
input::placeholder {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */

  /* Gray/500 */

  color: #667085;
}
input:focus {
  outline: none;
  /* border: none; */
}
#message:focus {
  outline: none;
}
