body{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    background-color: red;
}

.profile-section{
background-color: green;
position: relative;
}
.profile__img{
  background: url(./componens/Logo.jpg);
  border-radius: 275px;
  width: 88px;
  height: 88px;
  margin: 0 auto;
}

.twitter__text{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;  
  text-align: center;  
  color: #101828;
  margin-bottom:0 ;
}
.avatar-share-button{
border: 1px dashed #D0D5DD;
border-radius: 20px;
  width: 40px;
  height: 40px;
  position: absolute;
  right:25%;
  top: 10%;
  background: #FFFFFF;
  display: flex;
    justify-content: center;
    align-items: center;
}
.icon{
  text-align: center;
  width: 20px;
  height: 20px;
  background-image: url(./componens/Icon.png);
  background-repeat: no-repeat;
  }



.link-section{
    text-align: center;
    padding-top: 32px;
}

#links{
    text-decoration: none;
}

#btn__zuri{
  text-decoration: none;  
}
#books{
  text-decoration: none;
}
#book__python{
  text-decoration: none;
}
#pitch{
  text-decoration: none;

}
#book_design{
  text-decoration: none;
}
.frame5{
  width: 80%;
  height: 60px;
  background-color: yellow;
  filter: drop-shadow(0px 1px 2px rgba(16, 24, 40, 0.05));
  margin: 1.5rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.text{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  color: #101828;
  }

.social-section{
  margin: 24px auto 64px auto;
  background-color: orange;
width: 85%;
padding-top: 24px;
padding-bottom: 24px;
}

.social-icons{
  text-align: center;
  width: 94%;
  background-color: blue;
  margin:auto;
}
.slacklogo{
  width: 24px;
height: 24px;
border-radius: 50%;

}
.githublogo{
  width: 24px;
height: 24px;
border-radius: 50%;
}
